.drp
{
  margin-left: 10px;
}
.inpgrp
{
  margin: 0px !important;
}
.sps
{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.cart
{
  color: white;
}
.tab-pane .row
{
  margin-left: 25px;
}
.gologin a
{
  text-decoration: none;
}
.vcart
{
  width: 50px;
}
.notify-email:hover
{
	text-decoration: none;
	cursor: pointer;
}
.label-width
{
  width: 150px !important;
}
.cinfo
{
  width: 80px;
  border-radius: 0px;
  text-align: right;
}
.cinfo-border
{
  padding: 8px;
  border: 1px solid #ccc;
}
.note
{
  margin-top: 0px;
}